<div class="footer-container">
  <div class="footer">
    <div class="footer-left">
      <div class="iamge-wrapper">
        <img src="../assets/icons/logo.png" alt="Logo.png" />
        <span>DHYAN</span>
        <p>© 2024 Dhyan. Shared Knowledge, Growing Together.</p>
      </div>
    </div>
    <div class="footer-right">
      <ul class="nav-links">
        <li><a href="#" class="nav-item">About Us</a></li>
        <li><a href="#" class="nav-item">Privacy Policy</a></li>
        <li><a href="#" class="nav-item active">Community Guidelines</a></li>
        <li><a href="#" class="nav-item active">Support</a></li>
      </ul>
    </div>
  </div>
</div>
