<div class="navbar">
  <nav class="container">
    <div class="brand">
      <img src="../assets/icons/logo.png" alt="logo.png" />
      <span class="brand-name">DHYAN</span>
    </div>
    <ul class="nav-links">
      <li><a href="#" class="nav-item">Browse Books</a></li>
      <li><a href="#" class="nav-item">Community</a></li>
      <li><a href="#" class="nav-item active">My Books</a></li>
    </ul>
    <div class="nav-actions">
      <button class="notifications">
        <span class="notification-number">1</span>
        <i class="fa-regular fa-bell"></i>
      </button>
      <button
        class="profile"
        onclick="window.location.href = '../pages/login.html'"
      >
        <i class="fa-regular fa-circle-user"></i>
      </button>
    </div>
  </nav>
</div>
