/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */

body {
  font-family: var(--body-font);
  background-color: var(--background-color);
  color: var(--text-primary);
  line-height: 1.6;
}

/* Typorgraphy */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--text-primary);
}

p {
  color: var(--text-secondary);
}

/* Links */

a {
  text-decoration: none;
  color: inherit;
}

/* Lists*/

ul {
  list-style: none;
}

/*Images */

img {
  max-width: 100%;
  display: block;
}

/* Container*/

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* Buttons */

.btn-primary {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: var(--radius-md);
  cursor: pointer;
  transition: 0.3s;
}

.btn-primary:hover {
  opacity: 0.9;
}

.btn-secondary {
  background-color: var(--secondary-color);
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: var(--radius-md);
  cursor: pointer;
}

/* Inputs */

.input-field {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: var(--radius-sm);
  font-size: var(--fs-md);
}

/* Card*/

.card {
  background: var(--surface-color);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-sm);
  padding: var(--space-lg);
}
